{{ define "title" }}{{ .Title }}{{ " | " }}{{ .Site.Title }}{{ end }}

{{ define "keywords" }}{{ if .Params.tags }}{{ delimit .Params.tags "," }}{{ else }}{{ .Site.Params.KeyWords }}{{ end }}{{ end }}

{{ define "main" }}
<article>
          <h1>
            <strong><a href="{{ .Permalink }}index.html">{{ .Title }}</a></strong>
          </h1>
          <h4 class="date" _datetick="{{ .Date.Unix }}">{{ .Date.Format "Monday, Jan 2, 2006" }}</h4>
	<h4>
    	{{ range (.GetTerms "tags") }}
        <span class="w3-tag w3-green"><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></span>&nbsp;
        {{ end }}
	</h4>
	<h5>
		<a href="{{ .CurrentSection.Permalink }}">&#128193; {{ .CurrentSection.Title }}</a>
	</h5>
            {{ if .Params.UsesMath }}
            <noscript><p><strong>توجه:</strong>در این مقاله فرمولهای ریاضی وجود دارد که با زبان <a href="https://www.w3.org/TR/REC-MathML/">MathML</a>  که استاندارد وب است نوشته شده اند. مرورگرهای فایرفاکس و کروم ۲۴ این فرمولها را بدون مشکل نمایش می‌دهند. برای نمایش این فرمولها در سایر مرورگرها از اسکریپت <a href="https://docs.mathjax.org/en/latest/mathjax.html">MathJax</a> استفاده می کنیم که در انتهای همین صفحه افزوده شده است. اگر مرورگر شما از MathML پشتیانی نمی‌کند لازم است جاوا اسکریپت را روی مرورگر خود فعال کنید و یک بار دیگر این صفحه را بارگذاری کنید.</p></noscript>
            {{ end }}
              {{ .Content }}
              <hr/>
              {{ if .Params.hasGallery }}
              <div class="container">
              <!-- Full-width images with number text -->
              	{{ range $elem_index, $elem_val := .Params.gallery }}
              	<div class="mySlides">
    				<div class="numbertext">{{ add $elem_index 1 }} / 6</div>
      				<img src="{{ $elem_val }}" style="width:100%">
  				</div>
  				{{ end }}
  				<!-- Next and previous buttons -->
  				<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  				<a class="next" onclick="plusSlides(1)">&#10095;</a>

  				<!-- Image text -->
  				<div class="caption-container">
    				<p id="caption"></p>
  				</div>
  				<!-- Thumbnail images -->
  				{{ $thumbs_width := div 100.0 (len .Params.galleryThumbnails) }}
  				<div class="slides-row">
  				{{ range $elem_index, $elem_val := .Params.galleryThumbnails }}
  				<div class="slide-column" style="width:{{ $thumbs_width }}%;">
      				<img class="demo cursor" src="{{ $elem_val }}" style="width:100%" onclick="currentSlide({{ add $elem_index 1 }})"/>
    			</div>
    			{{ end }}
  				</div>
              </div>
              <hr/>
              {{ end }}
              <div class="related-posts">
                <h5>مقالات مرتبط</h5>
                <ul>
                {{ range first 3 ( where ( where .Site.Pages.ByDate.Reverse ".Params.tags" "intersect" .Params.tags ) "Permalink" "!=" .Permalink ) }}
                  <li><strong><a href="{{ .RelPermalink }}index.html">{{ .Title | markdownify }}</a></strong> (<span class="date" _datetick="{{ .Date.Unix }}">{{ .Date.Format "Monday, Jan 2, 2006" }}</span>)</li>
                {{ end }}
                </ul>
              </div> <!-- related posts -->
</article>
{{ end }}
