{{ define "title" }}{{ .Site.Title }}{{ end }}

{{ define "keywords" }}{ .Site.Params.KeyWords }}{{ end }}

{{ define "main" }}
<h1>آخرین مقالات بخشهای مختلف وبلاگ</h1>
{{ range $section := .Sections }}
	{{ range $page := first 1 $section.Pages }}
	<div class="w3-panel">
		<strong><a href="{{ $section.RelPermalink }}">&#128193; {{ index .Site.Data.sections.labels $section.Type}}</a></strong>
		<div class="w3-row">
                <div class="w3-col s4">
                  <h5 class="w3-left-align">
                    <script type="text/javascript">document.write(convertDateStringToShamsi('{{ $page.Date.Format "2006-1-2" }}'));</script><noscript>{{ $page.Date.Format "2006-1-2" }}</noscript>
                  </h5>
                 </div>
                 <div class="w3-col s8">
                   <h5 class="w3-right-align">
                   <strong><a href="{{ .RelPermalink }}index.html">{{ $page.Title | markdownify }}</a></strong>
                  </h5>
                </div>
                <p class="w3-right-align"><small>{{ $page.Params.description }}</small></p>
              </div> <!-- row -->
           </div> <!-- panel -->
	{{ end }}
{{ end }}
{{ end }}
