<nav class="w3-container w3-khaki">
  <img src="/images/ourflag.svg" alt="پرچم سه رنگ ایران بدون آرم و لوگو" style="width:100px; height:100px;float: left;"/>	
  <p class="w3-xlarge">{{ .Site.Title }}</p>
  <p class="w3-bkack w3-opacity">{{ .Site.Params.Description }}</p>
  <div class="w3-bar">
    <a href="/" class="w3-bar-item w3-button w3-mobile w3-right w3-hover-green">صفحه نخست</a>
    <a href="/newsletter/" class="w3-bar-item w3-button w3-mobile w3-right w3-hover-green">خبرنامه</a>
    <a href="/misc/about/" class="w3-bar-item w3-button w3-mobile w3-right w3-hover-green">درباره وبلاگ</a>
  </div>
  </nav>
